.topNavbar {
    overflow: hidden;
    background-color: rgb(193, 41, 41);
  }

  .topNavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topNavbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topNavbar a.active {
    background-color: #1827c9fe;
    color: white;
  }