body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.navBar {
  position: fixed;
  overflow: hidden;
  background-color: rgb(238, 44, 10);
  top: 0;
  left: 0;
  right: 0;
}

.navBar a {
  display: inline-block;
  padding: 1.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 2.2em;
  color: rgb(34, 44, 178);
  border-bottom: 2px solid rgb(48, 34, 178);
  transition: 0.1s;
}

.navBar a:hover {
  color: rgb(13, 253, 5);
}
.navBar a:active {
  color: rgb(43, 36, 34);
  border-bottom: 2px solid rgb(71, 89, 255);
  font-size: larger;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  height: 60vh;
  min-height: 500px;
  padding: 1rem;
  font-size: 3.5em;
  color: rgb(221, 42, 18);
}

#home {
  background-color: cornsilk;
}
.movielist {
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  height: 50vh;
  min-height: 100px;
  max-height: 200px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  background-color: whitesmoke;
}

.movielist > div {
  border-bottom: solid 2px rgb(128, 128, 128);
  padding-bottom: 1em;
  min-width: 10em;
}

.movielist > div > button {
  min-width: 6em;
}

.sidebar {
  align-items: center;
  min-width: 20em;
  min-height: 100vh;
  max-height: 200vh;
  width: 100%;
  border-right: solid black, 1px;
  background: azure;
  padding: 1em
}
 
.sidebar > button {
  width: 100%;
  height: 50%;
  background-color: aqua;
}


form.movieform {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  max-height: 100vh;
}

form.movieform > textarea,
form.movieform > input {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

.movieformdiv {
  margin-top: 200px;
  align-items: center;
  background-color: cornsilk;
}

.movieform-title {
align-items: center;
background-color: aqua;
min-height: 2vh;
max-height: 3vh;

}

.movieform-img {
background-color: burlywood;
size: 1em;
align-items: center;
min-height: 5vh;
max-height: 10vh;
}

.movieform-description {
  background-color: white;
  min-height: 10vh;
  max-height: 30vh;
  justify-self: left;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #04e8ff;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
